ion-card{
  display: flex;
  flex-direction: column;
  width: 100% !important;
  margin: 0 !important;
}
  .color{

    width: 30%;
   
    justify-items: right;
  }
  .yellow{
      background-color: orange;
      color: black;
  }

  .ion-card{

   
    width: 100%
  }

  