<ion-header>
  <ion-toolbar>
    <ion-title>Edit Quotation Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-item>
  <app-header></app-header> 
</ion-item>
</ion-header>

<ion-content>
  <br>
  <ion-title>Your id is <strong>{{this.data.qid}}</strong>  Update your Record below</ion-title>
  <br>
  <ion-item>
    
  
    <ion-label position="stacked">Customer Name</ion-label>
    <ion-input placeholder="Name" [(ngModel)]="cName" type = "text" ></ion-input>
    
    <ion-label position="stacked">Email</ion-label>
    <ion-input placeholder="E-mail" [(ngModel)]="cEmail" type = "text"></ion-input>
    <ion-label position="stacked">Address</ion-label>
    <ion-input placeholder="Address" [(ngModel)]="cAddress" type = "text"></ion-input>
    <ion-label position="stacked">Number of Rooms</ion-label>
    <ion-input placeholder="Room Number" [(ngModel)]="nRooms" type = "Number" (ngModelChange) = "roomData()"></ion-input>
    
    <ion-item *ngFor="let x of this.rooms; let i = index">

      <ion-card color="primary" class="ion-card">
        <ion-card-content expand="block" class="info">
      <ion-label position="stacked">Type of room</ion-label>
      <ion-input [(ngModel)] = "x.desc1"   type = "text" required> </ion-input>
   
      <ion-label position="stacked">Length</ion-label>
      <ion-input placeholder="Length"  [(ngModel)]="x.length1"   type = "number"></ion-input>
      <ion-label position="stacked">Width</ion-label>
      <ion-input placeholder="Number" [(ngModel)]="x.width1" type = "number" ></ion-input>

      <ion-label position="stacked">Color</ion-label><br>
      <input type = "color"  [(ngModel)]="x.color4" />

      <br>
      
  <br>
    <ion-label>Paint Type</ion-label>
    <ion-item color="warning" >
      
    <ion-select [(ngModel)]="x.typeP" placeholder="Select One">
      <ion-select-option  value="Standard">Standard ($24.99 per can)</ion-select-option>
      <ion-select-option  value="Premium" >Premium ($39.99 per can)</ion-select-option>
    </ion-select>
  </ion-item>
   
      <br>
      <br>
      <hr>
        </ion-card-content>
    </ion-card>
      </ion-item>
      <ion-button type="submit" (click)="storeData()">Update Quotation</ion-button>
     
  </ion-item>
  {{outMsg.msg}}
  <ion-item>
    <app-footer></app-footer>
  </ion-item>
</ion-content>
